.science .page-header h1{
	font-family: persFont;
	font-size:50px;
	color: #bf5e67;
}

.science{
	width:90%;
	margin:0 auto;
}


.science h2, .science h2{
	font-family: desFont;
	font-size: 30px;	
}

#graph{
	margin: 0 auto;
}