* {
	margin: 0px;
	padding: 0px;
}

.navbar-default{
	background-color: transparent;
}
.container-fluid {
	background-size: cover;
	background-image: url(../testImage/nav.jpg);
}

@font-face {
	font-family: "navFont";
	src: url(../font/navFont.otf);
}

@font-face {
	font-family: "desFont";
	src: url(../font/雲書法一駿山石水墨繁.ttf);
}

@font-face {
	font-family: "persFont";
	src: url(../font/李旭科书法1.4.ttf);
}
#navMenu {
	margin-bottom: 3px;
	position: relative;
	margin-left: 5%;
}

/* .header{
	overflow: hidden;
} */
.logo {
	/* width: 15%; */
	/* margin-top: 10px; */
	font-family: persFont;
	font-size: 45px;
	color: #fcc339;
}

/* #logo img {
	max-width: 100%;
	height: auto;
}
 */
#navMenu #navMenu-wrapper {
	padding: 0 30px;
}

#navMenu-items {
	margin: 0 auto;
	padding: 1px 0;
	list-style: none;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

#menuSelector {
	position: relative;
	margin-left: -5px;
	top: -1px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #b83a3a;
}

#navMenu ul li {
	display: inline-block;
	margin: 0px 40px;
	margin-left: 3%;
}

.subtitle {
	cursor: pointer;
	font-size: 21px;
	font-family: navFont;
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #400080;
	border-radius: 5px 5px 5px 5px;
	width: 100px;
	text-align: center;
}

#navMenu-items .active, .subtitle:hover {
	outline: none;
	-webkit-animation: glow 2000ms ease-out infinite alternate;
	-moz-animation: glow 2000ms ease-out infinite alternate;
	-o-animation: glow 2000ms ease-out infinite alternate;
	-ms-animation: glow 2000ms ease-out infinite alternate;
	animation: glow 2000ms ease-out infinite alternate;
	/* background: -webkit-linear-gradient(#f0d9da, #f0d9da);
	background: -moz-linear-gradient(#f0d9da, #f0d9da);
	background: -o-linear-gradient(#f0d9da, #f0d9da);
	background: -ms-linear-gradient(#f0d9da, #f0d9da);
	background: linear-gradient(#f0d9da, #f0d9da); */
	border-color: #fbeed7;
	box-shadow: 0 0 5px #7b0a1ef7, inset 0 0 5px
		#7b0a1ef7, 0 2px 0 #ffc2e9;
	color: #ef570b;
}

#login {
	font-size: 18px;
}

#carousel-generic {
	width: 85%;
	margin: 0 auto;
	margin-top: 100px;
}

.item{
	width:100%;
	height:650px;
}

.item img{
	max-width: 100%;
	width:100%;
	height: 100%;
}

.embed-responsive .embed-responsive-item {
	background-color: transparent;
}

/* 背景 */
/* video {
	position: fixed;
	right: 0px;
	bottom: 0px;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	加滤镜
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
	z-index: -11
}
source {
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
} */