* {
	margin: 0px;
	padding: 0px;
}

/* .navbar-default{
	background-image: url(../navimages/head.png);
} */
.container-fluid{
	background-color: #255f4c33;
}
@font-face {
	font-family: "navFont";
	src: url(../font/navFont.otf);
}

#navMenu {
	margin-bottom:3px;
	position: relative;
	margin-left: 10%;
}

/* .header{
	overflow: hidden;
} */
#logo {
	width: 15%;
	float: left;
	margin-top: 10px;
}

#logo img {
	max-width: 100%;
	height: auto;
}

#navMenu #navMenu-wrapper {
	height: 60px;
	padding: 0 30px;
}

#navMenu-items {
	margin: 0 auto;
	padding: 1px 0;
	list-style: none;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	width:70%;
}

#menuSelector {
	position: relative;
	margin-left: -5px;
	top: -1px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #b83a3a;
}

#navMenu ul li {
	display: inline-block;
	margin: 16px 40px;
	margin-left: 3%;
}

.navMenu-item{
	width:8%;
}
.subtitle {
	cursor: pointer;
	font-size: 21px;
	font-family: navFont;
	display: block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-o-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 5px 5px 5px 5px;
	width: 100px;
	text-align: center;
}

#navMenu-items .active, .subtitle:hover {
	outline: none;
	-webkit-animation: glow 2000ms ease-out infinite alternate;
	-moz-animation: glow 2000ms ease-out infinite alternate;
	-o-animation: glow 2000ms ease-out infinite alternate;
	-ms-animation: glow 2000ms ease-out infinite alternate;
	animation: glow 2000ms ease-out infinite alternate;
	background: -webkit-linear-gradient(#f0d9da, #f0d9da);
	background: -moz-linear-gradient(#f0d9da, #f0d9da);
	background: -o-linear-gradient(#f0d9da, #f0d9da);
	background: -ms-linear-gradient(#f0d9da, #f0d9da);
	background: linear-gradient(#f0d9da, #f0d9da);
	border-color: #fbeed7;
	box-shadow: 0 0 5px rgba(0, 255, 0, .5), inset 0 0 5px
		rgba(0, 255, 0, .5), 0 2px 0 #ffc2e9;
	color: #43c0ac;
}

#login {
	font-size: 18px;
}


#carousel-example-generic{
	width:80%;
	margin: 0 auto;
	margin-top:100px;
}

.embed-responsive-item{
	background-color: #4682b400;
}